@keyframes scroll_resize {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  -webkit-text-stroke: 0.01rem #000;
}

.index__section2, footer, .main-frame, .hu__main, .pedido__main, .reserva__main, .menu__main-title, .index__main {
  border-bottom: 1rem solid #000;
  border-top: 1rem solid #000;
}

.titles, .reserva__content-title, .menu__table-title, .index__aboutus-title {
  font-family: "Playfair Display", serif;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.main-frame, .hu__main, .pedido__main, .reserva__main, .menu__main-title, .index__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 300px;
}
.main-frame h2, .hu__main h2, .pedido__main h2, .reserva__main h2, .menu__main-title h2, .index__main h2 {
  margin: 0;
  color: #fff;
  padding: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-frame, .hu__main, .pedido__main, .reserva__main, .menu__main-title, .index__main {
    min-height: 400px;
    background-attachment: fixed;
  }
  .main-frame h2, .hu__main h2, .pedido__main h2, .reserva__main h2, .menu__main-title h2, .index__main h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 992px) {
  .main-frame, .hu__main, .pedido__main, .reserva__main, .menu__main-title, .index__main {
    min-height: 500px;
  }
}

.btn-outline-dark {
  margin-bottom: 2rem;
}

.btn-classic-round, .index__section2-btn1 {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
}
.btn-classic-round:hover, .index__section2-btn1:hover {
  background-color: #193d85;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.btn-send, .reserva__content-form-2 button[type=button] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn-send:hover, .reserva__content-form-2 button[type=button]:hover {
  background-color: #0056b3;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.pedido__content .card .agregar-carrito {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pedido__content .card .agregar-carrito:hover {
  background-color: #45a049;
}

/* Header */
.logo {
  min-width: 10%;
  max-width: 30%;
}

nav {
  background-color: #000;
  min-height: 8rem;
}

.nav-link {
  color: #fff;
}

.navbar-nav {
  padding: 1rem;
  text-align: center;
}

li {
  margin-bottom: 10px;
}

.subrayado {
  display: inline-block;
  text-decoration: none;
}
.subrayado:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
}
.subrayado:hover::after {
  width: 100%;
}

.activo {
  font-weight: bolder;
}

@media (min-width: 992px) {
  .nav-item {
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }
}
/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact-us,
.copyright {
  padding: 0.5rem;
  flex-grow: 0;
}

.social-icons {
  display: flex;
  gap: 10px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2rem;
  }
  .copyright {
    order: -1;
  }
}
/*INDEX*/
.index__main {
  background-image: url("../img/heading/index.jpg");
}
.index__aboutus {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
}
.index__aboutus-content {
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.index__aboutus-content h2 {
  color: #000;
}
.index__aboutus-content p {
  margin: 15px 0;
  color: #333;
  max-width: 60%;
}
.index__aboutus-content img {
  max-width: 40%;
  margin-top: 20px;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: scroll_resize;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
.index__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.index__section-img2, .index__section-img1 {
  width: 90%;
  max-height: 100%;
  height: auto;
  border: #000;
  border-style: solid;
  border-radius: 1rem;
  max-width: 400px;
  position: relative;
}
.index__section-img1 {
  top: 4rem;
}
.index__section-img2 {
  bottom: 4rem;
}
.index__section-txt1, .index__section-txt2 {
  width: 100%;
  max-height: 100%;
  height: auto;
  background-color: #000;
  text-align: center;
  padding: 2rem;
  color: white;
  max-width: 500px;
}
.index__section-txt1 h3, .index__section-txt2 h3 {
  font-weight: bold;
  padding: 1rem;
}
.index__section-txt1 {
  padding-top: 5rem;
}
.index__section-txt2 {
  padding-bottom: 5rem;
}
.index__section2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 300px;
  background-image: url("../img/generales/seccion-index 3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.index__TP, .hu__TP {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.index__TP-title, .hu__TP-title {
  font-family: "Playfair Display", serif;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 200px;
}
.index__TP-contenido, .hu__TP-contenido {
  text-align: center;
  padding: 2rem;
}
.index__TP-contenido h3, .hu__TP-contenido h3 {
  text-decoration: underline black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .index__section2 {
    background-attachment: fixed;
    min-height: 400px;
  }
}
@media (min-width: 900px) {
  .index__section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    background-color: #000;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .index__section-img2, .index__section-img1 {
    width: 90%;
    max-height: 100%;
    height: auto;
    border: #000;
    border-style: solid;
    border-radius: 1rem;
    max-width: 500px;
    padding: 1rem;
    position: relative;
    top: 0;
    bottom: 0;
  }
  .index__section-txt1, .index__section-txt2 {
    padding: 0.5rem;
    max-width: 600px;
  }
}
/*Menu*/
.menu__main {
  display: flex;
}
.menu__main-title {
  background-image: url("../img/heading/menu.jpg");
}
.menu__table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  width: 100%;
}
.menu__body {
  background-image: url(../img/fondo/wood-2045379_1920.jpg);
  background-size: auto;
}
.menu__table-content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 80%);
  width: 100%;
  height: auto;
  padding: 4rem;
  color: white;
  text-align: center;
}
.menu__table-content h3 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}
.menu__table-soda img, .menu__table-pizza img {
  padding: 1rem;
  width: 8rem;
}
.menu__table-soda-options, .menu__table-pizza-options {
  display: grid;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.soda,
.pizza {
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .menu__main-title {
    min-height: 400px;
    background-attachment: fixed;
  }
  .menu__main-title h2 {
    font-size: 2.5em;
  }
  .menu__table-soda-options div, .menu__table-pizza-options div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ffffff;
    padding-bottom: 5px;
    width: 500px;
  }
  .menu__table-soda img, .menu__table-pizza img {
    width: 12rem;
  }
  .soda h4,
  .soda p,
  .pizza h4,
  .pizza p {
    padding: 0.5rem;
  }
}
@media (min-width: 992px) {
  .menu__main-title {
    min-height: 500px;
    background-attachment: fixed;
  }
}
/*Reserva de Mesa*/
.reserva__main {
  background-image: url("../img/heading/reserva.jpg");
}
.reserva__content {
  background-color: #f3eeee;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.reserva__content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 80%;
  padding: 2rem;
}
.reserva__content-intro p {
  text-align: center;
  padding: 2rem;
}
.reserva__content-intro h2 {
  background-color: #ffcc00;
  border-radius: 8px;
  text-align: center;
  text-decoration: solid black;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  padding: 1rem;
}
.reserva__content-intro h2:hover {
  transform: rotateY(20deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.reserva__content-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}
.reserva__content-form-1 {
  margin-bottom: 20px;
}
.reserva__content-form-1 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.reserva__content-form-1 input[type=date],
.reserva__content-form-1 input[type=number],
.reserva__content-form-1 select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.reserva__content-form-1 input[type=date]:focus,
.reserva__content-form-1 input[type=number]:focus,
.reserva__content-form-1 select:focus {
  outline: none;
  border-color: #007bff;
}
/*Pedido-Online*/
.pedido__main {
  background-image: url("../img/heading/pedido.jpg");
}

.pedido__content {
  background-color: #f3eeee;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 2rem;
}
@media (min-width: 768px) {
  .pedido__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .pedido__content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
  }
}
.pedido__content .card {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-self: center;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.pedido__content .card .nombre {
  grid-row: span 2;
  font-size: 1.2em;
  margin-top: 0;
  padding: 1rem;
}
.pedido__content .card .precio {
  grid-row: 4;
  color: #555;
}
/*Horario y Ubicacion*/
.hu__main {
  background-image: url("../img/heading/hu1.jpg");
}

/*# sourceMappingURL=style.css.map */
