/*Pedido-Online*/
.pedido__ {
    &main {
        @extend .main-frame;
        background-image: url("../img/heading/pedido.jpg");
    }
}



.pedido__content {
    background-color: $color-background-primary;
    @include grid (1,1fr,8,auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    @include mq-tablet{
        @include grid (2,auto,3,auto);
    }
    @include mq-desktop{
        @include grid (3,auto,2,auto);
    }

    .card {
        @include grid (1,auto,3,0.5fr);
        height: 100%;
        justify-self: center;
        max-width: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;

        .img{
            grid-row: 2 / 3;
            padding: 1rem;   
        }
        .nombre {
            grid-row: 2;
            font-size: 1.2em;
            margin-top: 0;
            padding: 1em;
        }

        .precio {
            grid-row: 3 / 4;
            color: #555;
            align-self: center;
            grid-template-rows: repeat(3, 0.5fr);
        }

        .agregar-carrito {
            grid-row: 4;
            @extend %agregar-carrito;
            align-self: end;
        }
    }
}
