/*Menu*/
.menu__ {
    &main {
        display: flex;

        &-title {
            @include main-frame ("../img/heading/menu.jpg");
        }

    }

    &table {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;

        &-title {
            font-family: 'Playfair Display', serif;
            background-color: #000;
            color: #fff;
            padding: 10px;
            text-align: center;
            width: 200px;
        }
    }

    &body {
        background-image: url(../img/fondo/wood-2045379_1920.jpg);
        background-size: auto;
    }

    &table- {
        &content {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(1, 80%);
            width: 100%;
            height: auto;
            padding: 4rem;
            color: white;
            text-align: center;

            h3 {
                text-align: center;
                font-weight: bold;
                font-style: italic;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-decoration: underline;
            }

        }

        &soda,
        &pizza {
            img {
                padding: 1rem;
                width: 8rem;
            }

            &-options {
                display: grid;
                padding: 1rem;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }

    }

}




.soda,
.pizza {
    padding: 0.5rem;
}


@media(min-width:768px) {
    .menu__ {
        &main-title {
            min-height: 400px;
            background-attachment: fixed;

            h2 {
                font-size: 2.5em;
            }
        }


        &table-soda-options div,
        &table-pizza-options div {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px dotted #ffffff;
            padding-bottom: 5px;
        }

        &table-soda img,
        &table-pizza img {
            width: 12rem;
        }
    }

    .soda h4,
    .soda p,
    .pizza h4,
    .pizza p {
        padding: 0.5rem;
    }


}


@media (min-width:992px) {
    .menu__main-title {
        min-height: 500px;
        background-attachment: fixed;
    }
}