// Estilos para el pie de página

/*FOOTER*/
footer {
    @extend %framing;
    @include flex-box(column,space-between,center,nowrap);
    background-color: #333;
    color: $color-secondary;
    padding: 20px;
    text-align: center;
}

.contact-us,
.copyright {
    padding: 0.5rem;
    flex-grow: 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
}

@media(min-width:768px) {
    footer {
        @include flex-box(row,space-around,center,nowrap);
        padding: 2rem;
    }

    .copyright {
        order: -1;
    }
}
