// Estilos para botones
.btn-outline-dark {
    margin-bottom: 2rem;
}

.btn-classic-round {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: $color-secondary;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;

    &:hover {
        background-color: $btn-classic-hover;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    }
}

//boton de summit 
.btn-send{
    width: 100%;
    padding: $form-input-padding;
    background-color: $form-submit-bg;
    color: $form-submit-color;
    border: none;
    border-radius: $form-input-radius;
    cursor: pointer;
    font-size: $form-font-size;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $form-submit-hover-bg;
        animation: pulse 1s infinite;
    }
}

// Animación para el botón de enviar
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
//
%agregar-carrito {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #45a049;
    }
}