//Mixins  

//mixin para aplicar flex con variables

@mixin flex-box ($direction:row,$justify:center, $align:center,$wrap:nowrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin grid($columns:1, $columnSize:1fr, $rows:1, $rowSize:1fr, $justify: center, $align: center,$gap:1rem ){    
    display: grid;
    grid-template-columns: repeat($columns, $columnSize);
    grid-template-rows: repeat($rows, $rowSize);
    justify-content: $justify;
    align-items: $align;
    grid-gap: $gap;
}

//mixin para mediaqueries

@mixin mq-tablet {
    @media (min-width:768px){
        @content;
    }
}

@mixin mq-desktop {
    @media (min-width:992px){
        @content;
    }
}



//mixin para propiedades de bg
@mixin background-setting ($size:cover,$repeat:no-repeat,$position:center){
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}

// mixin para banner
