//Mixins  

//mixin para aplicar flex con variables

@mixin flex-box ($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


//mixin para mediaqueries

@mixin mq-tablet {
    @media (min-width:768px){
        @content;
    }
}

@mixin mq-desktop {
    @media (min-width:992px){
        @content;
    }
}