//colores
$color-primary:#000;
$color-secondary:#fff;
$color-background-primary:#f3eeee;
$btn-classic-hover:#193d85;

//tipografias

$base-font-family: 'Roboto', sans-serif;
$base-font-size: 16px; 
$heading-font-family: 'Playfair Display', serif;
$heading-line-height: 1.2;
$heading-font-size: 2em;
$heading-font-stroke:0.01rem #000;







//espaciado


// frame
$border-frame: 1rem solid $color-primary;